html,body {
    background-color: #191a1e;
}

#game-window {
    height: 576px;
    min-width: 576px;
    max-width: 1024px;
    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    margin: auto;
    margin-top: 80px;
    border: 2px solid #777777;
}

.header-row {
    display: flex;
    justify-content: center;
}

#game-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    background-color: #191a1e;
    margin-top: 40px;
    padding: 10px;
    border: 2px solid #777777;
    text-align: center;
    line-height: 1;
}

@media only screen and (max-width: 1026px) {
    #game-window {
        margin-top: 0;
    }
} 