html,body {
    background-color: #191a1e;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}

#game-window {
    height: 576px;
    min-width: 576px;
    max-width: 1024px;
    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    margin: auto;
    border: 2px solid #777777;
}

.header-row {
    display: flex;
    justify-content: center;
}

#game-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 35px;
    background-color: #191a1e;
    margin-top: 40px;
    padding: 10px;
    border: 2px solid #777777;
    text-align: center;
    line-height: 1;
}

.start-row {
    display: flex;
    justify-content: center;
}

.start-or-restart-btn {
    background-color: #191a1e;
    border: 2px solid #777777;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 180px;
    padding: 5px 20px;
}

#question-panel-container {
    display: flex;
    justify-content: center;
}